<ng-container *ngIf="isInitInProgress == true">

    <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 199px)">

        <span class="spinner-border flex-shrink-0 ms-2" role="status">

            <span class="visually-hidden">Loading...</span>

        </span>

    </div>

</ng-container>

<ng-container>

    <ng-container>

        <form (ngSubmit)="changePassword()" [formGroup]="form">

            <div class="row">
                <h2 class="pb-4">Reset Password</h2>

                <div class="col-lg-12">

                    <div [style.marginLeft]="'20px'">
                        <div class="mb-3">

                            <label [style.float]="'left'" class="form-label">

                                OTP Code

                            </label>

                            <div [style.clear]="'both'">
                                <input type="text" class="form-control" formControlName="otp"
                                    [ngClass]="{'is-invalid': form.controls && form.controls['otp']?.dirty && form.controls['otp']?.errors}" />
                            </div>

                            <ng-container
                                *ngIf="form.controls && form.controls['otp']?.dirty && form.controls['otp']?.errors">

                                <div class="invalid-feedback">

                                    <ng-container *ngIf="form.controls['otp']?.errors['required']">

                                        OTP is required

                                    </ng-container>

                                </div>

                            </ng-container>

                        </div>

                        <div class="mb-3">

                            <label [style.float]="'left'" class="form-label">

                                New Password

                            </label>

                            <div [style.clear]="'both'">
                                <div class="d-flex align-items-center">
                                    <input [type]="newPasswordVisible ? 'text' : 'password'" class="form-control" 
                                        formControlName="newPassword" maxlength="30"
                                        [ngClass]="{'is-invalid': form.controls && form.controls['newPassword']?.dirty && form.controls['newPassword']?.errors}" />
                            
                                    <i *ngIf="form.controls['newPassword']?.valid" (click)="newPasswordVisible = !newPasswordVisible"
                                        class="password-eye-icon" [class]="newPasswordVisible ? 'bx bxs-hide fs-22' : 'bx bxs-show fs-22'"></i>
                            
                                </div>
                        </div>

                            <ng-container
                                *ngIf="form.controls && form.controls['newPassword']?.dirty && form.controls['newPassword']?.errors">

                                <div class="invalid-feedback">

                                    <ng-container *ngIf="form.controls['newPassword']?.errors['required']">

                                        New Password is required

                                    </ng-container>

                                </div>

                            </ng-container>

                        </div>

                        <div class="mb-3">

                            <label [style.float]="'left'" class="form-label">

                                Confirm New Password

                            </label>
                            
                            <div [style.clear]="'both'">
                                <div class="d-flex align-items-center">
                                    <input [type]="confirmNewPasswordVisible ? 'text' : 'password'" class="form-control"
                                        formControlName="confirmNewPassword" maxlength="30"
                                        [ngClass]="{'is-invalid': form.controls && form.controls['confirmNewPassword']?.dirty && form.controls['confirmNewPassword']?.errors}" />
                            
                                    <i *ngIf="form.controls['confirmNewPassword']?.valid"
                                        (click)="confirmNewPasswordVisible = !confirmNewPasswordVisible" class="password-eye-icon"
                                        [class]="confirmNewPasswordVisible ? 'bx bxs-hide fs-22' : 'bx bxs-show fs-22'"></i>
                                </div>
                            </div>
                            
                            <ng-container
                                *ngIf="form.controls && form.controls['confirmNewPassword']?.dirty && form.controls['confirmNewPassword']?.errors">

                                <div class="invalid-feedback">

                                    <ng-container *ngIf="form.controls['confirmNewPassword']?.errors['required']">

                                        Confirm New Password is required

                                    </ng-container>

                                </div>

                            </ng-container>

                        </div>

                        <div *ngIf="form.get('newPassword').value != form.get('confirmNewPassword').value"
                            [style.color]="'red'" [style.float]="'left'">
                            Passwords do not match
                        </div>
                    </div>

                    <div [style.clear]="'both'" class="mb-1">
                        <div *ngIf="isResendDisabled">Resend OTP in <b>{{ getMinsFromSeconds(timer) }}</b></div>
                        <a [ngClass]="{ 'disabled': isResendDisabled }" href="javascript:void(0)"
                            (click)="resendOTP()">Resend Code</a>
                    </div>

                    <div class="text-center mb-4 mt-4">

                        <button type="submit" class="btn btn-primary w-sm btn-load" [disabled]="!form.valid ||
                        form.get('newPassword').value != form.get('confirmNewPassword').value">

                            <div class="d-flex align-items-center justify-content-center">

                                Reset Password

                            </div>

                        </button>

                    </div>

                </div>

            </div>

        </form>

    </ng-container>

</ng-container>