<div style="position: relative;">
    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 my-3">
        <h4 class="col-sm-3 text-dark m-0">Expenses List</h4>
        <div class="d-flex align-items-center flex-wrap gap-2 justify-content-end flex-grow-1">
            <div class="search-box flex-grow-1" style="max-width: 500px;">
                <input type="text" class="form-control search" placeholder="Search" [formControl]="searchCtrl" />
                <i class="ri-search-line search-icon"></i>
            </div>
            <div class="dropdown" dropdown>
                <button type="button" style="background-color: #fff; border: 0px none" dropdownToggle
                    class="btn btn-light">
                    <i class="ri-filter-3-line align-bottom me-1"></i> Filters
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem" (click)="statusCtrl.setValue('')">
                        <span class="dropdown-item" [ngClass]="{'active':statusCtrl.value === ''}">All</span>
                    </li>
                    <li role="menuitem" *ngFor="let status of statuses" (click)="statusCtrl.setValue(status)">
                        <span class="dropdown-item" [ngClass]="{'active':statusCtrl.value === status}">{{status |
                            ServiceRequestStatus}}</span>
                    </li>
                </ul>
            </div>
            <!-- <button type="button" style="background-color: #6964e1; border: 0px none"
                [routerLink]="['/accounts-payable/new']" class="btn btn-primary add-btn">
                <i class="ri-add-line align-bottom me-1"></i> Create New
            </button> -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="min-height: 300px;">
                <ng-container *ngIf="list$ | async as data">
                    <ng-container *ngIf="data && data.items.length; else noData">
                        <div class="card-body">
                            <div class="table-responsive table-card rounded">
                                <table class="table align-middle table-hover">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Title</th>
                                            <th>Store Group(s)</th>
                                            <th>Store(s)</th>
                                            <th>Priority</th>
                                            <th>Status</th>
                                            <th>Requested On</th>
                                            <th>Requestor</th>

                                        </tr>
                                    </thead>

                                    <tbody class="list form-check-all">
                                        <tr *ngFor="let serviceRequest of data.items; trackBy: trackByFn">
                                            <td class="py-3 text-truncate cursor-pointer fw-bold"
                                                [routerLink]="['/expenses', serviceRequest.id, 'edit']"
                                                style="max-width: 300px; color:#0F172A">
                                                {{serviceRequest.title}}
                                            </td>
                                            <td class="py-3 phone cursor-pointer"
                                                [routerLink]="['/expenses', serviceRequest.id, 'edit']">
                                                {{ serviceRequest?.storeGroup?.name }}
                                            </td>
                                            <td class="py-3 phone cursor-pointer"
                                                [routerLink]="['/expenses', serviceRequest.id, 'edit']">
                                                {{serviceRequest?.store?.name}}
                                            </td>
                                            <td class="py-3 cursor-pointer"
                                                [routerLink]="['/expenses', serviceRequest.id, 'edit']">
                                                <div class="badge rounded-pill fs-12 fw-medium"
                                                    [ngStyle]="{ 'background-color': serviceRequest?.priority === ServiceRequestPriority.critical || serviceRequest?.priority === ServiceRequestPriority.emergency ? '#FDE8E4' : '#E2E5ED',
                                                                             'color': serviceRequest?.priority === ServiceRequestPriority.critical || serviceRequest?.priority === ServiceRequestPriority.emergency ? '#F06548' : '#405189'}">

                                                    {{serviceRequest.priority | priority}}

                                                </div>
                                            </td>

                                            <td class="py-3 cursor-pointer"
                                                [routerLink]="['/expenses', serviceRequest.id, 'edit']">
                                                <div class="badge rounded-pill fs-12 fw-medium"
                                                    [ngStyle]="serviceRequest?.status | statusStyle">
                                                    {{ serviceRequest?.status | ServiceRequestStatus }}
                                                </div>
                                            </td>

                                            <td class="py-3 date cursor-pointer"
                                                [routerLink]="['/expenses', serviceRequest.id, 'edit']">
                                                {{serviceRequest.createdOn | date : "MMM d, y h:mm a"}}
                                            </td>


                                            <td class="py-3 cursor-pointer"
                                                [routerLink]="['/expenses', serviceRequest.id, 'edit']">
                                                <div style="display: flex; align-items: center;">
                                                    <div [style.marginRight]="'5px'" class="avatar-xs flex-shrink-0">

                                                        <div
                                                            class="avatar-title bg-info-subtle text-info rounded-circle fs-12">

                                                            {{serviceRequest.createdBy | userPrefix}}

                                                        </div>

                                                    </div>
                                                    <div>
                                                        {{serviceRequest.createdBy?.firstName}}
                                                        {{serviceRequest.createdBy?.lastName}}
                                                    </div>
                                                </div>
                                            </td>



                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex mt-3 align-items-center justify-content-center">
                                <app-custom-pagination [totalItems]="data.totalRecords" [currentPage]="data.currentPage"
                                    [disabled]="isLoading$ | async" [maxSize]="5" [disabled]="isLoading$ | async"
                                    [itemsPerPage]="data.pageSize" (pageChanged)="onPageChanged($event)">
                                </app-custom-pagination>
                            </div>
                        </div>
                    </ng-container>

                    <ng-template #noData>
                        <ng-container *ngIf="!(isLoading$ | async)">
                            <div class="card-body p-4 m-4">
                                <div class="noresult">
                                    <div class="text-center">
                                        <h5 class="mt-2">Sorry! No Result Found</h5>
                                        <p class="text-muted mb-0">
                                            We did not find any requests for you search.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </div>
    <app-spinner *ngIf="isLoading$ | async"></app-spinner>
</div>

<!-- <ng-template #confirmModal>
    <div class="modal-header border-0 pb-0">
        <h5 class="modal-title fw-bold">Confirm Withdrawal</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()"></button>
    </div>

    <div class="modal-body">
        <p>Are you sure you want to <strong>Withdraw</strong> this Account Payable request?</p>
    </div>

    <div class="modal-footer border-0 pt-0 d-flex align-items-center gap-2">
        <button class="btn btn-light px-4 flex-grow-1" (click)="modalRef.hide()">Cancel</button>
        <button class="btn btn-primary px-4 flex-grow-1" style="background-color: #6964e1; border: 0px none"
            (click)="onConfirmWithdraw()">Confirm</button>
    </div>
</ng-template> -->