<div style="position: relative;">
    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 my-3">
        <h4 class="col-sm-3 text-dark m-0">Repair and Maintenance Approval List</h4>
        <div class="d-flex align-items-center flex-wrap gap-2 justify-content-end flex-grow-1">
            <div class="search-box flex-grow-1" style="max-width: 500px;">
                <input type="text" class="form-control search" placeholder="Search" [formControl]="searchCtrl" />
                <i class="ri-search-line search-icon"></i>
            </div>
           
            <button type="button" style="background-color: #6964e1; border: 0px none"
                [routerLink]="['/approval-process/create']" class="btn btn-primary add-btn">
                <i class="ri-add-line align-bottom me-1"></i> Create Approval Process
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="min-height: 300px;">
                <ng-container *ngIf="list$ | async as data">
                <ng-container *ngIf="data && data.items.length; else noData">
                  <div class="card-body">
                    <div class="table-responsive table-card rounded">
                      <table class="table align-middle table-hover">
                        <thead class="table-light">
                          <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Company</th>
                            <th>Store</th>
                            <!-- <th>Steps</th> -->
                            <th>Created On</th>
                            <th>Description</th>
                            <th class="text-center">Actions</th>
                          </tr>
                        </thead>

                        <tbody class="list form-check-all">
                          <ng-container *ngFor="let item of data.items">
                            <tr>
                              <td class="py-3 text-truncate cursor-pointer fw-bold"
                                  (click)="openDetailModal(approvalDetailTemplate, item.storeId)"
                                  style="max-width: 250px; color:#0F172A">
                                {{ item.name }}
                              </td>
                              <td class="py-3 cursor-pointer"
                                  (click)="openDetailModal(approvalDetailTemplate, item.storeId)">
                                {{ item.category }}
                              </td>
                              <td class="py-3 cursor-pointer"
                                  (click)="openDetailModal(approvalDetailTemplate, item.storeId)">
                                {{ item.company }}
                              </td>
                              <td class="py-3 cursor-pointer"
                                  (click)="openDetailModal(approvalDetailTemplate, item.storeId)">
                                {{ item.store }}
                              </td>
                              <!-- <td class="py-3 cursor-pointer"
                                  (click)="openDetailModal(approvalDetailTemplate, item.storeId)">
                                steps
                              </td> -->
                              <td class="py-3 cursor-pointer"
                                  (click)="openDetailModal(approvalDetailTemplate, item.storeId)">
                                {{ item.createdOn | date : "MMM d, y" }}
                              </td>
                              <td class="py-3 cursor-pointer text-truncate"
                                  style="max-width: 200px;"
                                  (click)="openDetailModal(approvalDetailTemplate, item.storeId)">
                                {{ item.description }}
                              </td>
                              <td class="py-3">
                                <div>
                                 <img 
                                  src="assets/images/svg/edit-icon.svg" 
                                  class="cursor-pointer" 
                                  [routerLink]="['/approval-process', item.id, 'edit']"
                                  [queryParams]="{ storeId: item.storeId, companyId: user.userRoles[0].company.id }">


                                  <img src="assets/images/svg/remove-icon.svg" 
                                     (click)="openModal(confirmModal, item.storeId, item.categoryId)" class="cursor-pointer ms-2">
                                </div>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>

                    <div class="d-flex mt-3 align-items-center justify-content-center">
                      <app-custom-pagination
                        [totalItems]="data.totalRecords"
                        [currentPage]="data.currentPage"
                        [disabled]="isLoading$ | async"
                        [maxSize]="5"
                        [itemsPerPage]="data.pageSize"
                        (pageChanged)="onPageChanged($event)">
                      </app-custom-pagination>
                    </div>
                  </div>
                </ng-container>

                <ng-template #noData>
                  <ng-container *ngIf="!(isLoading$ | async)">
                    <div class="card-body p-4 m-4">
                      <div class="noresult text-center">
                        <h5 class="mt-2">No Approval Processes Found</h5>
                        <p class="text-muted mb-0">
                          You haven’t created any repair and maintenance approval processes yet.
                        </p>
                      </div>
                    </div>
                  </ng-container>
                </ng-template>

              </ng-container>

            </div>
        </div>
    </div>
    <app-spinner *ngIf="isLoading$ | async"></app-spinner>
</div>

<ng-template #confirmModal>
  <div class="delete-modal">
    <div class="modal-body">
      <p>Are you sure you want to <strong>"Delete"</strong> this Approval Process?</p>
      <p class="disclaimer"><span>Disclaimer:</span> All the requests/activity will be automatically deleted if you delete this approval process.</p>
      <button class="btn modal-cancel-btn"
        (click)="modalRef?.hide()">Not Now</button>
      <button class="btn modal-delete-btn"
        (click)="onConfirmDelete()">Yes, Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #approvalDetailTemplate>
  <div class="modal-content h-100">
    <div class="modal-header border-bottom mb-3">

      <h4 class="text-dark">Approval Criteria</h4>
      <button type="button" class="btn-close" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body p-4">
      <div class="table-responsive table-card rounded mx-0 mt-2">
        <table class="table align-middle table-fixed" style="table-layout: fixed; width: 100%;">
          <thead class="table-light">
                    <tr>
                      <th style="width: 33%;">Name</th>
                      <th style="width: 33%;">Approval Order</th>
                      <th style="width: 33%; text-align: center;">Role</th>
                      
                    </tr>
                  </thead>
          <tbody>
          <tr *ngIf="getFlattenedApprovalList().length === 0">
            <td colspan="3" class="text-center">No approval criteria added</td>
          </tr>


            <tr *ngFor="let item of getFlattenedApprovalList()">
              <td class="text-truncate" style="overflow: hidden;">{{ item.userName }}</td>
               <td class="text-truncate">
                        <span class="badge rounded-pill px-3 py-2 fw-semibold"
                          [ngClass]="getBadgeColorClass(item.order)">
                          {{ item.order }}{{ getOrdinalSuffix(item.order) }}
                        </span>

                      </td>
              <td class="text-truncate">
                <span class="badge bg-light text-dark px-3 py-2 rounded-pill">
                  {{ item.roleName }}
                </span>
              </td>

            </tr>

          </tbody>

        </table>
      </div>

    </div>
  </div>
</ng-template>

