<ng-container *ngIf="isInitInProgress == true">

    <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 199px)">

        <span class="spinner-border flex-shrink-0 ms-2" role="status">

            <span class="visually-hidden">Loading...</span>

        </span>

    </div>

</ng-container>

<ng-container *ngIf="isInitInProgress == false">

    <ng-container>

        <!-- <div class="row">

            <div class="col-12">

                <div class="page-title-box d-sm-flex align-items-center justify-content-between">

                    <h4 class="mb-sm-0" style="text-transform:none;">

                        Change Password

                    </h4>

                    <div class="page-title-right">

                        <ol class="breadcrumb m-0">

                            <li class="breadcrumb-item">

                                Profile

                            </li>

                            <li class="breadcrumb-item active">

                                Password

                            </li>

                        </ol>

                    </div>

                </div>

            </div>

        </div> -->

        <form (ngSubmit)="openConfirmationModal(confirmModal)" [formGroup]="form">

            <div class="row">

                <div class="col-lg-12">

                    <div class="card">

                        <div class="card-body">

                            <div class="row">
                                <div class="row">

                                    <div class="col-12">

                                        <div class="form-title">

                                            <h4 class="mb-4">

                                                Change Password

                                            </h4>

                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-8">
                                    <div class="row mb-4 align-items-center">

                                        <label class="col-lg-3 form-label required">

                                            Current Password

                                        </label>

                                        <div class="col-lg-9">
                                            <div class="d-flex align-items-center">
                                                <input [type]="currentPasswordVisible ? 'text' : 'password'"
                                                    class="form-control" formControlName="currentPassword"
                                                    maxlength="30" placeholder="Enter current password"
                                                    [ngClass]="{ 'is-invalid': isInvalid('currentPassword') }" />

                                                <i 
                                                    (click)="currentPasswordVisible = !currentPasswordVisible"
                                                    class="password-eye-icon"
                                                    [class]="currentPasswordVisible ? 'bx bxs-hide fs-22 eye-icon-clr' : 'bx bxs-show fs-22 eye-icon-clr'"></i>
                                            </div>


                                            <div class="text-danger mt-2" *ngIf="isInvalid('currentPassword')">
                                                <span class="text-danger fw-bold">!</span>
                                                <ng-container
                                                    *ngIf="form.controls['currentPassword'].errors?.['required']">
                                                    Current Password is required
                                                </ng-container>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-4 align-items-center">

                                        <label class="col-lg-3 form-label required">

                                            New Password

                                        </label>

                                        <div class="col-lg-9">
                                            <div class="d-flex align-items-center">
                                                <input [type]="newPasswordVisible ? 'text' : 'password'"
                                                    class="form-control" formControlName="newPassword" maxlength="30"
                                                    placeholder="Enter new password"
                                                    [ngClass]="{ 'is-invalid': isInvalid('newPassword') }" />

                                                <i 
                                                    (click)="newPasswordVisible = !newPasswordVisible"
                                                    class="password-eye-icon"
                                                    [class]="newPasswordVisible ? 'bx bxs-hide fs-22' : 'bx bxs-show fs-22'"></i>
                                            </div>

                                            <div class="text-danger mt-2" *ngIf="isInvalid('newPassword')">
                                                <span class="text-danger fw-bold">!</span>
                                                <ng-container *ngIf="form.controls['newPassword'].errors?.['required']">
                                                    New Password is required
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="form.controls['newPassword']?.errors?.['minlength']">
                                                    New Password must be at least 6 characters long.
                                                </ng-container>

                                            </div>
                                             <ng-container>
                                                    <small class="form-text text-muted">
                                                        Your new password must be more than 6 characters.
                                                    </small>
                                                </ng-container>
                                        </div>
                                    </div>

                                    <div class="row mb-4 align-items-center">

                                        <label class="col-lg-3 form-label required">

                                            Confirm New Password

                                        </label>

                                        <div class="col-lg-9">
                                            <div class="d-flex align-items-center">
                                                <input [type]="confirmNewPasswordVisible ? 'text' : 'password'"
                                                    class="form-control" formControlName="confirmNewPassword"
                                                    maxlength="30" placeholder="Confirm new password"
                                                    [ngClass]="{ 'is-invalid': isInvalid('confirmNewPassword') }" />

                                                <i 
                                                    (click)="confirmNewPasswordVisible = !confirmNewPasswordVisible"
                                                    class="password-eye-icon"
                                                    [class]="confirmNewPasswordVisible ? 'bx bxs-hide fs-22' : 'bx bxs-show fs-22'"></i>
                                            </div>

                                            <div class="text-danger mt-2" *ngIf="isInvalid('confirmNewPassword')">
                                                <span class="text-danger fw-bold">!</span>
                                                <ng-container
                                                    *ngIf="form.controls['confirmNewPassword'].errors?.['required']">
                                                    Confirm Password is required
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="form.controls['confirmNewPassword']?.errors?.['minlength']">
                                                    Confirm Password must be at least 6 characters long.
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="form.controls['confirmNewPassword']?.errors?.['confirmPasswordValidator']">
                                                    Password and Confirm Password do not match.
                                                </ng-container>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-lg-4"></div>

                                <div class="text-end mb-4">

                                    <button type="submit" class="changePasswordBtn w-sm btn-load" [disabled]="!form.valid ||
                                             form.get('newPassword').value != form.get('confirmNewPassword').value">

                                        <div class="d-flex align-items-center justify-content-center">

                                            Change Password

                                        </div>

                                    </button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>

    </ng-container>

</ng-container>

<ng-template #confirmModal>
  <div class="modal-header">
    <h5 class="modal-title">Change Password Confirmation</h5>
    <button type="button" class="btn-close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to <strong>Change</strong> the password?</p>
    <div class="d-flex">
      <button type="button" class="btn modal-cancel-btn" (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn modal-confirm-btn" (click)="confirmChangePassword()">Confirm</button>
    </div>
  </div>
</ng-template>